body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: Roboto-thin, Sans-serif;
}
.backgroundimg {
	background-image:url("../images/pink-watercolor.png");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 110vh;
}

/************
Font
 ***********/

h2 {
	font-family: Sacramento, cursive;
	font-size: 40pt;
	color: dimgrey;
}

h5 {
	font-size: 13pt;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#header {
	color: white;
	font-family: Sacramento, cursive;
}
#subtext {
	font-family: Roboto-thin, Sans-Serif;
	font-size: 30px;
}

.flex-container-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}


/***********************
Wellness Section
***********************/

#floated {
	float: left;
	width: 550px;
}

/*********
Portfolio
 *********/

/***********
Contact
************/
#contact-section {
	background-size: auto;
	color: white;
}
#contact-chrystal {
	color: white;
}


/***********
Footer
************/
footer a,
footer a:link,
footer a:visited,
footer a:active {
	color: white;
}

footer a:hover {
	color: hotpink;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}