body, html {
	margin: 0;
	padding: 0;
}

.backgroundimg {;
	background-image: url("/Users/chrystal/Desktop/bootcamp/git/my-pwp-chrystal/public_html/documentation/images/background-dahlia.jpg");
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	height: 100vh;}

/**********
About
*************/
#about {
	color: white;
}

/***********
Footer
************/
#contact-section {
	color: white;
}

footer a,
footer a:link,
footer a:visited,
footer a:active {
	color: white;
}

footer a:hover {
	color: pink;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}