body, html {
	background-image: url("../images/pink-watercolor.png");
	background-size: 1200px;
	background-repeat: no-repeat;
	background-position: top, center;
	margin: 0;
	padding: 0;
	font-family: Roboto-thin, SansSerif;
}

h2 {
	font-family: Sacramento;
	font-size: 40pt;
	color: dimgrey;
}

h5 {
	font-size: 13pt;
}
/************
Font
 ***********/
#header {
	color: white;
	font-family: Sacramento, cursive;
}
#subtext {
	font-family: Roboto-thin, SansSerif;
	font-size: 30px;
}

.flex-container-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


@media only screen and (min-width: 970px) {
	a.navbar-brand {
		font-size: 4rem;
	}
}

.backgroundimg {;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;}

#wellness-businesses {
	font-size: 40px;
	margin-right: 60px;
	margin-top: 200px;
}
#wellness {
	margin-top: 150px;
}
#floated {
	float: left;
	width: 550px;
}
/**********
About
*************/
#about {
	margin-bottom: px;
	padding-top: px;
	padding-bottom: 10px;
}


/*********
Portfolio
 *********/

/***********
Contact
************/
#contact-section {
	background-image: url("../images/flip-watercolor-opaque.jpg");
	background-size: 1200px;
	color: white;
}
#contact-chrystal {
	color: white;
}


/***********
Footer
************/
footer a,
footer a:link,
footer a:visited,
footer a:active {
	color: white;
}

footer a:hover {
	color: hotpink;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}